:root {
  --primary-color: #2250c7;
  --secondary-color: #cfeeff;
  --default-font-family: "Libre Franklin", sans-serif;
}

body {
  background-color: #fdfbfe;
  font-family: var(--default-font-family);
  margin: 0px;
}

h6 {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 96px;
  background: linear-gradient(to right, #e05ce2, #ac51d7, #2250c7);
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.04em transparent;
}

h1,
h3 {
  font-weight: 100;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 51px;
}

h3 {
  font-size: 44px;
}

.hero h1,
h3 {
  color: var(--primary-color);
}

p {
  font-family: var(--default-font-family);
  font-weight: 400;
  color: var(--primary-color);
  font-size: 16px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 120px 0;
}

.btn {
  border-color: #e05ce2;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 16px;
}

.btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

a {
  color: #ac51d7;
  text-decoration: none;
}
h4 {
  color: #ac51d7;
}

h5 {
  font-weight: 100;
  color: var(--primary-color);
  margin: 80px auto 120px;
  font-size: 28px;
}

img {
  border-radius: 10px;
}

.row {
  margin-bottom: 80px;
}

#content-container h1 {
  font-size: 64px;
  color: #ac51d7;
}

#content-container img {
  margin: auto;
}

#content-container .row {
  margin: 100px;
}
#content-container a {
  font-size: 22px;
}

#content-container a:hover {
  background-color: #2250c7;
  color: var(--secondary-color);
}

@media (max-width: 800px) {
  .hero {
    padding: 60px 0;
  }

  #content-container h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h5 {
    color: var(--primary-color);
    margin: 40px auto 80px;
    font-size: 22px;
  }
  h6 {
    font-size: 44px;
    -webkit-text-stroke: 0.06em transparent;
  }

  p {
    font-size: 14px;
  }

  .row {
    margin-bottom: 20px;
  }
  .btn {
    margin-bottom: 20px;
    font-size: 14px;
  }

  #content-container a {
    font-size: 18px;
  }
}
