:root {
  --primary-color: #0b4a86;
  --secondary-color: #b2d3f2;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Source Serif 4", serif;
}

body {
  background-color: var(--primary-color);
  font-family: var(--default-font-family);
  margin: 0px;
}
h1 {
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 70px;
}

p {
  font-family: var(--default-font-family);
  font-weight: 400;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 120px 0;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 6px;
  color: var(--secondary-color);
}

.btn-branding:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}
/* font-family: 'Playfair Display', serif;
font-family: 'Source Serif 4', serif;*/
